*.csx filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.lock filter=lfs diff=lfs merge=lfs -text
*.toml filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.sbv filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.sbl filter=lfs diff=lfs merge=lfs -text
*.sbc filter=lfs diff=lfs merge=lfs -text
*.tst filter=lfs diff=lfs merge=lfs -text
*.it3 filter=lfs diff=lfs merge=lfs -text
*.sis filter=lfs diff=lfs merge=lfs -text
*.srm filter=lfs diff=lfs merge=lfs -text
*.cmo filter=lfs diff=lfs merge=lfs -text
*.cmc filter=lfs diff=lfs merge=lfs -text
*.sbb filter=lfs diff=lfs merge=lfs -text
*.srv filter=lfs diff=lfs merge=lfs -text
*.itm filter=lfs diff=lfs merge=lfs -text
*.lua filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.srk filter=lfs diff=lfs merge=lfs -text
*.rs filter=lfs diff=lfs merge=lfs -text
